.title{
    text-transform: capitalize;
}

h1 .dox {
    font-size: 2em;
}

.page-header small {
    margin-right: 60px;
}

.dox .x {
    font-weight: bold;
    color: #bb0000;
}

.octicon-mark-github:before {
    content: '\f00a';
}

.page-header {
    position: relative;
    margin-top: 20px;
}

.page-header .github {
    /*position: absolute;*/
    /*bottom: 15pt;*/
    /*right: 5pt;*/
    background-size: 40px 40px;
    width: 30px;
    height: 30px;
    margin-top: 1em;
}

.github {
    background-image: url("https://github.global.ssl.fastly.net/images/modules/logos_page/GitHub-Mark.png");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 25px 25px;
    width: 20px;
    height: 20px;
    opacity: .6;
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

.github:hover {
    opacity: 1;
}

.glyphicon, .glyphicon.small {
    color: #ccc;
}

.glyphicon:hover {
    text-decoration: none;
    color: #999;
}

.badge-danger {
    background-color: #d9534f;
}

.badge-warning {
    background-color: #f0ad4e;
}

.badge-success {
    background-color: #5cb85c;
}